{{ block "index" . }}
<html lang="en">
    <head>
        <title>Myfi</title>
        <meta charset="UTF-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link href="css/style.css" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>

    </head>
    <body>
    {{ template "createContact" . }}
    {{  template "displayContacts" . }}
    
    </body>
</html>
{{ end }}

{{  block "createContact" . }}
    <form hx-swap="outerHTML" hx-post="/contacts" hx-target="#displayContacts" style="display: flex; flex-direction: column">
        <label for="name" >Name: </label>
        <input type="text" name="name" />
        
        <label for="email" >Email: </label>
        <input type="text" name="email" />
        <button type="submit">Submit</button>
    </form>
{{ end}}

{{ block "displayContacts" . }}
<div id="displayContacts">
    {{range .Contacts}}
            <p>{{ .Name }}</p>
            <p>{{ .Email }}</p>
            {{ end }}
        </div>
{{  end }}